[Unit]
Description=Podman pod-myjellyfin.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
User="{{ jellyfin_user }}"
Group="{{ jellyfin_group }}"
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=180
ExecStart=/usr/bin/podman start myjellyfin
ExecStop=/usr/bin/podman stop -t 120 myjellyfin
ExecStopPost=/usr/bin/podman stop -t 120 myjellyfin
PIDFile=/run/containers/storage/overlay-containers/2d54480ddbc86abca53a5d5fb5b2512df53b35744698336e142a8c94d9008a51/userdata/conmon.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
