[Service]
Environment=GF_SERVER_ROOT_URL={{ grafana_server_root_url }}
Environment=GF_SERVER_SERVE_FROM_SUB_PATH={{ grafana_serve_from_sub_path }}
Environment=GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
{% if not grafana_metrics.enabled %}
Environment=GF_METRICS_ENABLED=false
{% else %}
Environment=GF_METRICS_BASIC_AUTH_USERNAME={{ grafana_metrics.username }}
Environment=GF_METRICS_BASIC_AUTH_PASSWORD={{ grafana_metrics.password }}
{% endif %}
{% if grafana_install_plugins is defined and grafana_install_plugins | length > 0 %}Environment=GF_INSTALL_PLUGINS={% for plugin in grafana_install_plugins %}{{ plugin }} {% endfor %}{% endif %}
{% if grafana_server_domain | length > 0 %}Environment=GF_SERVER_DOMAIN={{ grafana_server_domain }}{% endif %}

