[Unit]
Description=Re-signs ssh host keys automatically
After=network-online.target

[Timer]
Unit=ssh-key-signer.service
RandomizedDelaySec={{ vault_ssh_cli_timer_delay }}
OnCalendar={{ vault_ssh_cli_timer_calendar }}
Persistent=true

[Install]
WantedBy=timers.target
