root={{ ssmtp['recipient'] }}
mailhub={{ ssmtp['server'] }}:{{ ssmtp['port'] }}

rewriteDomain={{ ssmtp['recipient'].split("@")[1] }}
hostname={{ ssmtp['user'] }}

UseTLS=YES
UseSTARTTLS=YES
{% if ssmtp['tls_file'] is defined %}
TLS_CA_File={{ ssmtp['tls_file'] }}
{% elif ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' %}
TLS_CA_File=/etc/pki/tls/certs/ca-bundle.crt
{% endif %}

AuthUser={{ ssmtp['user'] }}
AuthPass={{ ssmtp['pass'] }}

FromLineOverride=NO
