[Unit]
Description=Karma Dashboard
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ karma_user }}
Group={{ karma_user }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/karma --config.file={{ karma_config_file }}
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectSystem=full
SyslogIdentifier=karma

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
