---
alertmanager:
  interval: 60s
{% if karma_alertmanagers | length > 0 %}
  servers: "{{ karma_alertmanagers }}"
{% else %}
  servers:
{% for am in groups['sauron'] %}
    - name: {{ am }}
      uri: "https://{{ am }}/alertmanager"
      timeout: 10s
      proxy: true
      tls:
        cert: {{ karma_config_dir }}/sauron.crt
        key: {{ karma_config_dir }}/sauron.key
{% endfor %}
{% endif %}

annotations:
  default:
    hidden: false
  hidden:
    - help
  visible: []

custom:
  css: /custom.css
  js: /custom.js

debug: false
filters:
  default:
    - "@receiver=by-cluster-service"

karma:
  name: "{{ karma_name }}"

labels:
  color:
    static:
      - job
    unique:
      - cluster
      - instance
      - "@receiver"
  keep: []
  strip: []

listen:
  address: "{{ karma_listen_address }}"
  port: {{ karma_listen_port }}
  prefix: "{{ karma_listen_prefix }}"

log:
  config: false
  level: warning

silences:
  comments:
    linkDetect:
      rules:
        - regex: "(DEVOPS-[0-9]+)"
          uriTemplate: https://jira.example.com/browse/$1

receivers:
  keep: []
  strip: []

silenceForm:
  strip:
    labels:
      - job

ui:
  refresh: 30s
  hideFiltersWhenIdle: true
  colorTitlebar: false
  minimalGroupWidth: 420
  alertsPerGroup: 5
  collapseGroups: collapsedOnMobile
