[Unit]
Description=loki Server
After=network.target
After=systemd-user-sessions.service
After=network-online.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ loki_user }}
Group={{ loki_group }}
ExecStart=/usr/local/bin/loki -config.file /etc/loki.yml {{ loki_arguments | join(' ') }}
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

# restart forerver
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
