[Unit]
Description=Paperless scheduler
{% if paperless_redis_host is match("^(localhost|127).*") %}
Requires=redis.service
{% endif %}

[Service]
User={{ paperless_user }}
Group={{ paperless_group }}
WorkingDirectory={{ paperless_app_directory }}/src
ExecStart={{ paperless_venv_dir }}/bin/python3 manage.py qcluster

[Install]
WantedBy=multi-user.target
