# Required services
#
{% if paperless_db_type == 'sqlite' %}
PAPERLESS_DB_HOST=1
{% else %}
PAPERLESS_DBHOST={{ paperless_db_host }}
PAPERLESS_DBPORT={{ paperless_db_port }}
PAPERLESS_DBNAME={{ paperless_db_name }}
PAPERLESS_DBUSER={{ paperless_db_user }}
PAPERLESS_DBPASS={{ paperless_db_pass }}
PAPERLESS_DBSSLMODE={{ paperless_db_sslmode }}
{% endif %}

PAPERLESS_REDIS=redis://{{ paperless_redis_host }}:{{ paperless_redis_port }}
PAPERLESS_CONSUMPTION_DIR={{ paperless_consumption_dir }}
PAPERLESS_DATA_DIR={{ paperless_data_dir }}
PAPERLESS_MEDIA_ROOT={{ paperless_media_root }}
PAPERLESS_STATICDIR={{ paperless_staticdir }}
PAPERLESS_FILENAME_FORMAT={{ paperless_filename_format }}
PAPERLESS_LOGGING_DIR={{ paperless_logging_dir }}
PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_ALLOWED_HOSTS={{ paperless_allowed_hosts }}
PAPERLESS_CORS_ALLOWED_HOSTS={{ paperless_cors_allowed_hosts }}
PAPERLESS_FORCE_SCRIPT_NAME={{ paperless_force_script_name }}
PAPERLESS_STATIC_URL={{ paperless_static_url }}
PAPERLESS_AUTO_LOGIN_USERNAME={{ paperless_auto_login_username }}
PAPERLESS_COOKIE_PREFIX={{ paperless_cookie_prefix }}
PAPERLESS_ENABLE_HTTP_REMOTE_USER={{ paperless_enable_http_remote_user }}
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_languages | join('+') | replace('-','_') }}
PAPERLESS_OCR_MODE={{ paperless_ocr_mode }}
PAPERLESS_OCR_CLEAN={{ paperless_ocr_clean }}
PAPERLESS_OCR_DESKEW={{ paperless_ocr_deskew }}
PAPERLESS_OCR_ROTATE_PAGES={{ paperless_ocr_rotate_pages }}
PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD={{ paperless_ocr_rotate_pages_threshold }}
PAPERLESS_OCR_OUTPUT_TYPE={{ paperless_ocr_output_type }}
PAPERLESS_OCR_PAGES={{ paperless_ocr_pages }}
PAPERLESS_OCR_IMAGE_DPI={{ paperless_ocr_image_dpi }}
PAPERLESS_OCR_USER_ARGS={{ paperless_ocr_user_args | combine({'jbig2_lossy': true} if paperless_big2enc_lossy else {}) | to_json }}
PAPERLESS_TIKA_ENABLED={{ paperless_tika_enabled }}
{% if paperless_tika_enabled | bool %}
PAPERLESS_TIKA_ENDPOINT={{ paperless_tika_endpoint }}
PAPERLESS_TIKA_GOTENBERG_ENDPOINT={{ paperless_tika_gotenberg_endpoint }}
{% endif %}
PAPERLESS_TIME_ZONE={{ paperless_time_zone }}
PAPERLESS_CONSUMER_POLLING={{ paperless_consumer_polling }}
PAPERLESS_CONSUMER_DELETE_DUPLICATES={{ paperless_consumer_delete_duplicates }}
PAPERLESS_CONSUMER_RECURSIVE={{ paperless_consumer_recursive }}
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS={{ paperless_consumer_subdirs_as_tags }}
PAPERLESS_CONVERT_MEMORY_LIMIT={{ paperless_convert_memory_limit }}
PAPERLESS_CONVERT_TMPDIR={{ paperless_convert_tmpdir }}
PAPERLESS_OPTIMIZE_THUMBNAILS={{ paperless_optimize_thumbnails }}
PAPERLESS_POST_CONSUME_SCRIPT={{ paperless_post_consume_script }}
PAPERLESS_FILENAME_DATE_ORDER={{ paperless_filename_date_order }}
PAPERLESS_THUMBNAIL_FONT_NAME={{ paperless_thumbnail_font_name }}
PAPERLESS_IGNORE_DATES={{ paperless_ignore_dates }}
