[Unit]
Description=Paperless consumer

[Service]
User={{ paperless_user }}
Group={{ paperless_group }}
WorkingDirectory={{ paperless_app_directory }}/src
ExecStart={{ paperless_venv_dir }}/bin/python3 manage.py document_consumer

[Install]
WantedBy=multi-user.target
