[Unit]
Description=Paperless webserver
After=network.target
Wants=network.target

[Service]
User={{ paperless_user }}"
Group={{ paperless_group }}"
WorkingDirectory={{ paperless_app_directory }}/src
ExecStart={{ paperless_venv_dir }}/bin/gunicorn -b {{ paperless_listen_address}}:{{ paperless_listen_port }} -c {{ paperless_app_directory }}/gunicorn.conf.py paperless.asgi:application

[Install]
WantedBy=multi-user.target
