{
    "alt-speed-down": 50,
    "alt-speed-enabled": false,
    "alt-speed-time-begin": 540,
    "alt-speed-time-day": 127,
    "alt-speed-time-enabled": false,
    "alt-speed-time-end": 1020,
    "alt-speed-up": 0,
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",
    "blocklist-enabled": true,
    "blocklist-url": "{{ transmission_blocklist_url }}",
    "cache-size-mb": 4,
    "dht-enabled": true,
    "download-dir": "{{ transmission_download_dir }}",
    "download-queue-enabled": true,
    "download-queue-size": 5,
    "encryption": 1,
    "idle-seeding-limit": 30,
    "idle-seeding-limit-enabled": false,
    "incomplete-dir": "{{ transmission_incomplete_dir }}",
    "incomplete-dir-enabled": {{ transmission_incomplete_dir_enabled | lower }},
    "lpd-enabled": false,
    "message-level": 1,
    "peer-congestion-algorithm": "",
    "peer-id-ttl-hours": 6,
    "peer-limit-global": 200,
    "peer-limit-per-torrent": 50,
    "peer-port": {{ transmission_peer_port }},
    "peer-port-random-high": 65535,
    "peer-port-random-low": 49152,
    "peer-port-random-on-start": true,
    "peer-socket-tos": "default",
    "pex-enabled": true,
    "port-forwarding-enabled": true,
    "preallocation": 1,
    "prefetch-enabled": true,
    "queue-stalled-enabled": true,
    "queue-stalled-minutes": 30,
    "ratio-limit": {{ transmission_ratio_limit }},
    "ratio-limit-enabled": {{ transmission_ratio_limit_enabled | lower }},
    "rename-partial-files": true,
    "rpc-authentication-required": false,
    "rpc-bind-address": "{{ transmission_rpc_bind_address }}",
    "rpc-enabled": {{ transmission_rpc_enabled | lower }},
    "rpc-host-whitelist": "{{ transmission_rpc_host_whitelist}}",
    "rpc-host-whitelist-enabled": {{ transmission_rpc_host_whitelist_enabled | lower }},
    "rpc-password": "{{ transmission_rpc_password }}",
    "rpc-port": {{ transmission_rpc_port }},
    "rpc-url": "/transmission/",
    "rpc-username": "{{ transmission_rpc_username }}",
    "rpc-whitelist": "{{ transmission_rpc_whitelist }}",
    "rpc-whitelist-enabled": {{ transmission_rpc_whitelist_enabled | lower }},
    "scrape-paused-torrents-enabled": true,
    "script-torrent-done-enabled": false,
    "script-torrent-done-filename": "",
    "seed-queue-enabled": false,
    "seed-queue-size": 10,
    "speed-limit-down": {{ transmission_speed_limit_down }},
    "speed-limit-down-enabled": {{ transmission_speed_limit_down_enabled | lower }},
    "speed-limit-up": {{ transmission_speed_limit_up }},
    "speed-limit-up-enabled": {{ transmission_speed_limit_up_enabled | lower }},
    "start-added-torrents": true,
    "trash-original-torrent-files": false,
    "umask": {{ transmission_umask }},
    "upload-slots-per-torrent": 14,
    "utp-enabled": true
}
