#!/bin/bash

INCOMPLETE="${1:-{{ transmission_incomplete_dir }}}"
COMPLETE="${2:-{{ transmission_download_dir }}}"
DEST="${3:-/var/lib/node_exporter}"
NAME=transmission.prom

function scrape() {
    if [ -d ${INCOMPLETE} ]; then
    	AMOUNT_INCOMPLETE="$(ls -1 $INCOMPLETE | wc -l)"
	    echo "transmission_incomplete_count_total $AMOUNT_INCOMPLETE"
        SIZE_INCOMPLETE="$(du -bs $INCOMPLETE | awk '{print $1}')"
        echo "transmission_incomplete_size_bytes $SIZE_INCOMPLETE"
    fi

    if [ -d ${COMPLETE} ]; then
        AMOUNT_COMPLETE="$(ls -1 $COMPLETE | wc -l)"
        echo "transmission_complete_count_total $AMOUNT_COMPLETE"
        SIZE_COMPLETE="$(du -bs $COMPLETE | awk '{print $1}')"
        echo "transmission_complete_size_bytes $SIZE_COMPLETE"
    fi

	RESP=$(transmission-remote -l 2> /dev/null)
    if [ $? -eq 0 ]; then
        NUM_ACTIVE=$(echo "$RESP" | egrep -v '^ID|^Sum:|Finished' | wc -l)
        echo "transmission_num_active_total $NUM_ACTIVE"
        SPEED_DOWN=$(echo "$RESP" | egrep ^Sum: | awk '{print $5}' | cut -d'.' -f1)
        echo "transmission_speed_down_bytes $((SPEED_DOWN*1024))"
        SPEED_UP=$(echo "$RESP" | egrep ^Sum: | awk '{print $4}' | cut -d'.' -f1)
        echo "transmission_speed_up_bytes $((SPEED_UP*1024))"
        QUEUE_SIZE=$(echo "$RESP" | egrep ^Sum: | awk '{print $2,substr($3,1,1)}' | sed 's/ //' | numfmt --from=auto)
        if [ 0 -ne $? ]; then
            QUEUE_SIZE="0"
        fi
        echo "transmission_queue_size $QUEUE_SIZE"
    fi

    echo "transmission_hearbeat_seconds $(date +%s)"
}

if [ -d $DEST ]; then
	TARGET=$DEST/$NAME
else
	TARGET=""
fi

while :; do
	scrape | sponge $TARGET
	sleep 30
done
