[Unit]
Description=transmissionbot
After=network.target
StartLimitIntervalSec=3600
StartLimitBurst=720

[Service]
Type=simple
User={{ transmission_bot_user }}
Group={{ transmission_bot_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/transmission-telegram -master={{ transmission_bot_master_users | join(',') }}
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
ReadWritePaths=
ReadWriteDirectories=
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

SyslogIdentifier=transmissionbot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
