[Unit]
Description=transmission-exporter
After=network.target
StartLimitIntervalSec=86400
StartLimitBurst=1440

[Service]
Type=simple
User={{ transmission_user }}
Group={{ transmission_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/transmission-exporter
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
#ReadWritePaths=
#ReadWriteDirectories=
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
ProtectSystem=full

SyslogIdentifier=transmission-exporter
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
