#!/bin/bash

PERFOM_REBOOT=${1:-0}

PROM_DIR="{{ node_exporter_textfile_dir | default('/var/lib/node_exporter') }}"
OUTPUT=$(needrestart -b)
SLEEP=$(( ${RANDOM} % 480 + 120 ));
REBOOT_NECESSARY=0
LOGFILE=/var/log/autoreboot.log

KERNEL_UPDATE=0
SERVICE_UPDATES=0

function check_services {
    # check services
    # services should actually be restarted already, some are blacklisted though. REBOOT_NECESSARY to make changes effective
    SERVICES_CNT=$(echo "${OUTPUT}" | grep "^NEEDRESTART-SVC:" | wc -l)

    if [ ${SERVICES_CNT} -gt 0 ]; then
        echo "Detected ${SERVICES_CNT} services that needed to be restarted:"
        echo "${OUTPUT}" | grep ^NEEDRESTART-SVC: | awk '{print $2}'
        echo ""
        REBOOT_NECESSARY=1
        SERVICE_UPDATES=1
    fi
}

function check_kernel {
    # check kernels
    # raspberry fix until new version of needrestart is provided
    CUR=$(echo "${OUTPUT}" | sed 's/-v[0-9]//g' | grep "^NEEDRESTART-KCUR:" | awk '{print $2}')
    EXP=$(echo "${OUTPUT}" | sed 's/-v[0-9]//g' | grep "^NEEDRESTART-KEXP:" | awk '{print $2}')

    if [ "${CUR}" = "${EXP}" ]; then
        return
    fi

    KSTA=$(echo "${OUTPUT}" | grep "^NEEDRESTART-KSTA:" | awk '{print $2}')
    if [ ${KSTA} -gt 1 ]; then
        echo "New kernel detected: ${CUR} -> ${EXP}"
        REBOOT_NECESSARY=1
        KERNEL_UPDATE=1
    fi
}

function log_decision {
    local AFFECTED_SERVICES=$(echo "${OUTPUT}" | grep ^NEEDRESTART-SVC: | sed 's/NEEDRESTART-SVC://' | paste -sd ',')
    local DATE="$(date +%y-%m-%d)"
    if [ ${REBOOT_NECESSARY} -gt 0 ]; then
        echo "${DATE} Kernel: ${KERNEL_UPDATE}, service(s):${AFFECTED_SERVICES}" >> "${LOGFILE}"
    fi
}

function delayed_reboot {
    TIME_UNTIL_RESTART=$(date -d@${SLEEP} -u +%H:%M:%S)
    echo "$(date +%H:%M) Restarting in ${TIME_UNTIL_RESTART}."
    sleep ${SLEEP}
    systemctl reboot
}

function print_metrics {
    echo "autoreboot_reboot_necessary_bool{kernel=\"${KERNEL_UPDATE}\",services=\"${SERVICE_UPDATES}\"} ${REBOOT_NECESSARY}"
    echo "autoreboot_check_timestamp_seconds $(date +%s)"
}

check_services
check_kernel
log_decision
if [ -d ${PROM_DIR} ]; then
    if command -v sponge &> /dev/null; then
        print_metrics | sponge "${PROM_DIR}/autoreboot.prom"
    else
        print_metrics > "${PROM_DIR}/autoreboot.prom.tmp"
        mv "${PROM_DIR}/autoreboot.prom.tmp" "${PROM_DIR}/autoreboot.prom" 
    fi
fi

if [ ${REBOOT_NECESSARY} -eq 1 ] && [ ${PERFOM_REBOOT} -eq 1 ]; then
    delayed_reboot
fi
