[Unit]
Description=Check for necessary reboot

[Timer]
Unit=autoreboot.service
OnCalendar={{ autoreboot_timer }}
RandomizedDelaySec={{ autoreboot_timer_random_delay_s }}
Persistent=true

[Install]
WantedBy=timers.target
