{
    "mqttcommander": {
        "topics": [
{% for topic in mqttcommander_topics %}
                {
                    "{{ topic.name }}": {
{% for trigger in topic.triggers %}
                        "{{ trigger.name }}": [{% for arg in trigger.cmd %}"{{ arg }}"{{ "," if not loop.last else "" }}{% endfor %}]{{ "," if not loop.last else "" }}
{% endfor %}
                }
          }{{ "," if not loop.last else "" }}
{% endfor %}
        ]
    }
}
