[Unit]
Description=mqttcommander
After=syslog.target network.target
StartLimitIntervalSec=3600
StartLimitBurst=720

[Service]
Type=simple
ExecStart=/usr/local/bin/mqttcommander
Restart=always
RestartSec=5
User={{ mqttcommander_user }}

[Install]
WantedBy=multi-user.target
