[Service]
Environment=MQTT_CMD_ID={{ mqttcommander_id }}
Environment=MQTT_CMD_HOST={{ mqttcommander_mqtt_host }}
Environment=MQTT_CMD_PORT={{ mqttcommander_mqtt_port }}
Environment=MQTT_CMD_CONFIG={{ mqttcommander_config_file }}
{% if mqttcommander_verbose | default(False) %}Environment=MQTT_CMD_VERBOSE=True{% endif %}
