# -*- mode: conf -*-
# vim:ft=cfg

# Config file for Radicale - A simple calendar server
#
# Place it into /etc/radicale/config (global)
# or ~/.config/radicale/config (user)
#
# The current values are the default ones


[server]

# CalDAV server hostnames separated by a comma
# IPv4 syntax: address:port
# IPv6 syntax: [address]:port
# For example: 0.0.0.0:9999, [::]:9999
hosts = {% if radicale_hosts is defined and radicale_hosts | length > 0 %}{{ radicale_hosts | join(', ') }}{% else %}127.0.0.1:5232{% endif %}

# Max parallel connections
max_connections = {{ radicale_max_connections | default(5) }}

# Max size of request body (bytes)
max_content_length = {{ radicale_max_body_size | default(10000000) }}

# Socket timeout (seconds)
timeout = {{ radicale_socket_timeout | default(5) }}

# SSL flag, enable HTTPS protocol
#ssl = False

# SSL certificate path
#certificate = /etc/ssl/radicale.cert.pem

# SSL private key
#key = /etc/ssl/radicale.key.pem

# CA certificate for validating clients. This can be used to secure
# TCP traffic between Radicale and a reverse proxy
#certificate_authority =

# SSL Protocol used. See python's ssl module for available values
#protocol = PROTOCOL_TLSv1_2

# Available ciphers. See python's ssl module for available ciphers
#ciphers =

# Reverse DNS to resolve client address in logs
#dns_lookup = True


[encoding]

# Encoding for responding requests
request = utf-8

# Encoding for storing local collections
stock = utf-8


[auth]

# Authentication method
# Value: none | htpasswd | remote_user | http_x_remote_user
type = htpasswd

# Htpasswd filename
htpasswd_filename = {{ radicale_htpasswd_file | default("/etc/radicale/users") }}

# Htpasswd encryption method
# Value: plain | bcrypt | md5
# bcrypt requires the passlib[bcrypt] module.
htpasswd_encryption = bcrypt

# Incorrect authentication delay (seconds)
delay = {{ radicale_delay_between_auth | default(5) }}

# Message displayed in the client when a password is needed
#realm = Radicale - Password Required


[rights]

# Rights backend
# Value: none | authenticated | owner_only | owner_write | from_file
#type = owner_only

# File for rights management from_file
#file = /etc/radicale/rights


[storage]

# Storage backend
# Value: multifilesystem
#type = multifilesystem

# Folder for storing local collections, created if not present
filesystem_folder = {{ radicale_data_dir | default("/var/lib/radicale/collections") }}

# Delete sync token that are older (seconds)
#max_sync_token_age = 2592000

# Command that is run after changes to storage
# Example: ([ -d .git ] || git init) && git add -A && (git diff --cached --quiet || git commit -m "Changes by "%(user)s)
#hook =


[web]

# Web interface backend
# Value: none | internal
#type = internal


[logging]

# Don't include passwords in logs
mask_passwords = True


[headers]

# Additional HTTP headers
#Access-Control-Allow-Origin = *

