[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server
After=network.target
Requires=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
ExecStart={{ radicale_dir }}/bin/python3 -m radicale
User={{ radicale_user }}
# Deny other users access to the calendar data
UMask=0027

# Security
##########
NoNewPrivileges=true
CapabilityBoundingSet=
RestrictSUIDSGID=true
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

# Network
IPAddressAllow=192.168.0.0/16

# Paths
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectProc=yes
ProtectSystem=strict
ReadWritePaths={{ radicale_data_dir | default("/var/lib/radicale/collections") }}
ReadOnlyPaths=/etc /usr

PrivateDevices=yes
DevicePolicy=closed

# restart forerver
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
