[Service]
LimitNOFILE={{ mariadb_max_open_files }}
OOMScoreAdjust={{ mariadb_oom_score_adjust }}
# Override defualt timeout for starting service, due to long SST duration
TimeoutStartSec={{ mariadb_timeout_start_sec }}
