global:
  scrape_interval:     {{ prometheus_scrape_interval }} 
  evaluation_interval: {{ prometheus_eval_interval }}
{% if prometheus_remote_write | length > 0 %}
  external_labels:
    location: {{ prometheus_location }}
{% endif %}

{% if prometheus_alertmanager_config | length > 0 %}
alerting:
  alertmanagers:
  {{ prometheus_alertmanager_config | to_nice_yaml(indent=2) | indent(2,False) }}
{% endif %}

rule_files:
  - {{ prometheus_config_dir }}/rules/*.rules

{% if prometheus_remote_write | length > 0 %}
remote_write:
  {{  prometheus_remote_write | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}

scrape_configs:
  {{ prometheus_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}
