# {{ ansible_managed }}
[Unit]
Description=Prometheus
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_db_dir }} \
  --storage.tsdb.retention={{ prometheus_storage_retention }} \
  --web.listen-address={{ prometheus_web_listen_address }} \
  --web.external-url={{ prometheus_web_external_url }}{% for flag, flag_value in prometheus_config_flags_extra.items() %} \
  --{{ flag }}={{ flag_value }}{% endfor %}

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
#ReadWritePaths={{ prometheus_db_dir }}
ReadWriteDirectories={{ prometheus_db_dir }}
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
ProtectSystem=full

{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}"{% if https_proxy is defined %} "HTTPS_PROXY={{ https_proxy }}{% endif %}"
{% endif %}

SyslogIdentifier=prometheus

# restart forever
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target
