confirmation=1
extensions=/usr/local/libexec/taskd

verbose=1
ip.log=on
log={{ taskd_log_dir }}/taskd.log

pid.file={{ taskd_dir}}/taskd.pid
queue.size=100
request.limit=1048576
root={{ taskd_dir }}
server={{ taskd_listen | default("0.0.0.0") }}:{{ taskd_port }}

ciphers={{ taskd_ciphers }}
trust=strict

ca.cert={{ taskd_certs_ca }}
server.cert={{ taskd_certs_cert }}
server.key={{ taskd_certs_key }}
