#!/bin/sh

TASKD_DIR="{{ taskd_dir }}"
DOMAIN="$(cat $TASKD_DIR/pki/vars | grep CN= | cut -b4-)"

if [ -f "/etc/pki/traefik/certs/$DOMAIN.crt" ]; then
    cat "/etc/pki/traefik/certs/$DOMAIN.crt" > "$TASKD_DIR/pki/server.cert.pem"
else
    echo "cert does not exist
    exit 1"
fi

if [ -f "/etc/pki/traefik/private/$DOMAIN.key" ]; then
    cat "/etc/pki/traefik/private/$DOMAIN.key" > "$TASKD_DIR/pki/server.key.pem"
else
    echo "key does not exist
    exit 1"
fi

chown {{ taskd_user }}:{{ taskd_group }} "$TASKD_DIR"/pki/server.*.pem
chmod 640 "$TASKD_DIR"/pki/server.*.pem

systemctl restart taskd
exit $?
