#!/bin/sh

# perform backup
DATE="$(date +%Y%m%d)"

{% if taskd_backups_gpg_recipients is defined and taskd_backups_gpg_recipients %}
# performing encrypted backup
# note: decrypt via gpg -d <archive> | tar xz
tar cz {{ taskd_dir }} 2> /dev/null | gpg2 -e --set-filename x.tar {% for recipient in taskd_backups_gpg_recipients %}-R {{ recipient }} {% endfor %} --homedir={{ taskd_backups_dir }}/.gnupg/ --output {{ taskd_backups_dir }}/taskd-backup-$DATE.gpg --trust-model always --yes
{% else %}
zip -qr {{ taskd_backups_dir }}/taskd-backup-$DATE.zip {{ taskd_dir }}
{% endif %}

# delete backups older than {{ taskd_backups_days_retention }} days
find {{ taskd_backups_dir }} -mtime +{{taskd_backups_days_retention }} -type f -name taskd-backup-????????.??? -delete > /dev/null
