[Unit]
Description=Secure server providing multi-user, multi-client access to Taskwarrior data
Documentation=http://taskwarrior.org/docs/#taskd

# restart forerver
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/taskd server --data {{ taskd_dir }}
ExecReload=/bin/kill -USR1 $MAINPID
Type=simple
User={{ taskd_user }}
Group={{ taskd_group }}
WorkingDirectory={{ taskd_dir }}

# Security
##########
NoNewPrivileges=true
CapabilityBoundingSet=
RestrictSUIDSGID=true
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

# Network
IPAddressAllow=192.168.0.0/16

# Paths
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectProc=yes
ProtectSystem=strict
ReadWritePaths={{ taskd_dir }}
ReadOnlyPaths=/etc /usr

PrivateDevices=yes
DevicePolicy=closed

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
