[Unit]
Description=Ansible Gitops runner
After=network-online.target
Wants=network-online.target

# restart forever
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/agos -config {{ agos_config_file }}
NoNewPrivileges=true
PrivateTmp=yes
User={{ agos_user }}
Group={{ agos_group }}

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
