[Unit]
Description=acme.sh renew

[Service]
EnvironmentFile={{ acmesh_credentials_env_file }}
User={{ acmesh_user }}
Type=oneshot
ExecStart=/home/{{ acmesh_user }}/.acme.sh/acme.sh --renew-all --home /home/{{ acmesh_user }}/.acme.sh
PrivateTmp=true
