[Unit]
Description="acmevault"
Documentation=https://www.github.com/soerenschneider/acmevault
Requires=network-online.target
After=network-online.target

# restart forever
StartLimitIntervalSec=0

[Service]
User={{ acmevault_user }}
Group={{ acmevault_group }}
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
NoNewPrivileges=yes
ExecStart=/usr/local/bin/acmevault -conf={{ acmevault_config_file }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT

# restart forever
Restart=always
RestartSec=1800

[Install]
WantedBy=multi-user.target
