[Unit]
Description=Home Assistant
After=network-online.target
StartLimitIntervalSec=900
StartLimitBurst=15

[Service]
Type=simple
User={{ hass_user }}
Group={{ hass_group }}
ExecStart={{ hass_dir }}/bin/hass -c "/etc/home-assistant" --log-rotate-days {{ hass_log.rotation_days | default(7) }}{% if hass_log.dir is defined and hass_log.dir | length > 0 %} --log-file {{ hass_log.dir }}/home-assistant.log{% endif %} 

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
