[http]
  [http.routers]
    [http.routers.hass]
      rule = "Host(`{{ hass_traefik.hostname }}`)"
      service = "hass"
      [http.routers.hass.tls]
        certResolver = "{{ traefik_acme_dns_providers[0].id }}"

  [http.services]
    [http.services.hass]
      [[http.services.hass.loadBalancer.servers]]
        url = "http://127.0.0.1:8123"
