[Unit]
Description=Invokes renovatebot
After=network-online.target

[Timer]
Unit=renovatebot.service
RandomizedDelaySec={{ renovatebot_timer_delay }}
OnCalendar={{ renovatebot_timer_calendar }}
Persistent=true

[Install]
WantedBy=timers.target
