[Unit]
Description=Garage Data Store
After=network-online.target
Wants=network-online.target

# restart forever
StartLimitIntervalSec=0

[Service]
Environment='RUST_LOG=garage=info' 'RUST_BACKTRACE=1'
ExecStart=/usr/local/bin/garage server
StateDirectory=garage
ProtectHome=true
ReadWriteDirectories={{ garage_data_dir }} {{ garage_metadata_dir }}
ReadOnlyPaths=/etc/garage.toml
NoNewPrivileges=true
ProtectSystem=strict
PrivateTmp=yes
RemoveIPC=yes
User={{ garage_user }}
Group={{ garage_group }}

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
