metadata_dir = "{{ garage_metadata_dir }}"
data_dir = "{{ garage_data_dir }}"

replication_mode = "{{ garage_replication_mode }}"

compression_level = 2

db_engine = "{{ garage_db_engine | default('lmdb') }}"

rpc_bind_addr = "{{ ansible_default_ipv4.address }}:3901"
rpc_public_addr = "{{ ansible_default_ipv4.address }}:3901"
rpc_secret = "{{ garage_rpc_secret }}"

bootstrap_peers = [
{% for item in _garage_peers | default([]) %}
  "{{ item }}",
{% endfor %}
]

[s3_api]
s3_region = "{{ location }}"
api_bind_addr = "127.0.0.1:3900"
root_domain = "s3.soerenschneider.net"

[s3_web]
bind_addr = "127.0.0.1:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[admin]
api_bind_addr = "{{ ansible_default_ipv4.address }}:3903"
metrics_token = "{{ garage_metrics_token }}"
