[Unit]
Description=Victoriametrics alerts
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User=vmalert
Group=vmalert
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/vmalert \
  -notifier.tlsCertFile=/etc/vmalert/sauron.crt \
  -notifier.tlsKeyFile=/etc/vmalert/sauron.key \
{% for inst in groups[vmalert_ansible_group_name] %}
  -notifier.url=https://{{ inventory_hostname }}/alertmanager \
{% endfor %}
  -datasource.url=https://rs.soeren.cloud \
  -rule=/etc/vmalert/rules/*.rules

SyslogIdentifier=vmalert

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
