#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md
server:
  {{ promtail_server | default(promtail_default_server) | to_nice_yaml(indent=2) | indent(2, False) }}

positions:
  {{ promtail_positions | default(promtail_default_positions) | to_nice_yaml(indent=2) | indent(2, False) }}

clients:
  {{ promtail_clients | default(promtail_default_clients) | to_nice_yaml(indent=2) | indent(2, False) }}

scrape_configs:
  {% if promtail_include_default_file_sd_config | bool %}
  {{ promtail_default_file_sd_config | to_nice_yaml(indent=2) | indent(2, False) }}
  {% endif %}
  {% if promtail_scrape_config|length %}
  {{ promtail_scrape_config | to_nice_yaml(indent=2) | indent(2, False) }}
  {% endif %}

{% if promtail_target_config != {} %}
target:
  {{ promtail_target_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
