[Unit]
Description=promtail
After=network-online.target

# restart forever
StartLimitIntervalSec=0

[Service]
User={{ promtail_user }}
Group={{ promtail_group }}
ExecStart=/usr/local/bin/promtail -config.file={{ promtail_config_file }} -log.level={{ promtail_log_level }}
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths={{ promtail_positions_directory }}
ReadOnlyPaths={{ promtail_base_dir }} /var/log

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
