{%- if consul_datacenter -%}
datacenter = "{{ consul_datacenter }}"
{% endif %}

{% if consul_is_server -%}
server = true
bootstrap_expect = {{ groups["consul"] | length }}

{% if consul_expose_dns %}
addresses = {
  dns = "0.0.0.0"
}
{% endif %}

{% endif %}



data_dir = "{{ consul_data_dir }}"
encrypt = "{{ consul_encryption_key | default('qDOPBEr+/oUVeOFQOnVypxwDaHzLrD+lvjo5vCEBbZ0=') }}"
verify_incoming = false
verify_outgoing = false
verify_server_hostname = false
#retry_join = [{% for host in groups["consul"] | reject('search', inventory_hostname) | list %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %}]
# 
retry_join = [{% for host in groups["consul"] | list %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %}]
