[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_dir }}/consul.hcl
# restart forever
StartLimitIntervalSec=0

[Service]
EnvironmentFile=-/etc/consul.d/consul.env
User={{ consul_user }}
Group={{ consul_group }}
ExecStart=/usr/local/bin/consul agent -config-dir={{ consul_config_dir }}/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
