[Unit]
Description=Run occult to unlock something
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User={{ occult_user }}
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/occult
TimeoutSec=60
Environment="OCCULT_CONFIG={{ occult_config_file }}"

[Install]
WantedBy=multi-user.target
