---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "192.168.2.222:6443"
    token: "{{ hostvars[groups['k8s-masters'][0]].kubetoken }}"
    caCertHashes:
    - "{{ hostvars[groups['k8s-masters'][0]].kubehash }}"

controlPlane:
  certificateKey: "{{ hostvars[groups['k8s-masters'][0]].kubecertkey }}"
