server:
{% for network in networks[location].devices %}
{% if network.dns is defined and network.dns %}
    interface: {{ network.address | ipaddr('address') }}
{% endif %}
{% endfor %}
    interface: 127.0.0.1
    interface: ::1

    access-control: 0.0.0.0/0 refuse
    access-control: ::0/0 refuse
    access-control: 127.0.0.1 allow
    access-control: ::1 allow
{% for network in networks[location].devices %}
{% if network.dns is defined and network.dns %}
    access-control: {{ network.address | ipaddr(0) }} allow
{% endif %}
{% endfor %}
{% for source in unbound_additional_allowed_sources %}
    access-control: {{ source }} allow
{% endfor %}

    hide-identity: yes
    hide-version: yes
    qname-minimisation: yes
    rrset-roundrobin: {% if unbound_enable_roundrobin | default(False) %}yes{% else %}no{% endif %}

    # performance
    outgoing-range: 4096
    num-queries-per-thread: 2048
    so-reuseport: yes
    num-threads: 2
    rrset-cache-size: 100m
    msg-cache-size: 50m
    msg-cache-slabs: 1
    rrset-cache-slabs: 1
    infra-cache-slabs: 1
    key-cache-slabs: 1

{% if ansible_os_family | lower != 'redhat' %}
    auto-trust-anchor-file: "{% if ansible_system == 'OpenBSD' %}/var/unbound/db/root.key{% else %}/var/lib/unbound/root.key{% endif %}"
{% endif %}
    val-log-level: 2
    aggressive-nsec: yes

{% for network_domain in network_domains %}
    local-zone: "{{ location }}.{{ network_domain }}." transparent
{% endfor %}

{% for wildcard_domain in unbound_wildcard_domains %}
    local-zone: "{{ wildcard_domain.domain }}" redirect
    local-data: "{{ wildcard_domain.domain }} 3600 IN A {{ wildcard_domain.record_a }}"
{% endfor %}

{% for loc in (local_hosts | dict2items | selectattr('key', '==', location) | list) + (local_hosts | dict2items | selectattr('key', '!=', location) | list) -%}
#############################################################################################
# Datacenter {{ loc.key }}
#############################################################################################
{% for network_domain in network_domains %}
# {{ network_domain }}
# hosts
{% for host in loc.value %}
    local-data: "{{ host.host }}.{{ loc.key }}.{{ network_domain }}. IN A {{ host.logical }}"
    local-data-ptr: "{{ host.logical }} {{ host.host }}.{{ loc.key }}.{{ network_domain }}"
{% for service in host.services | default([]) %}
    local-data: "{{ service.name }}.{{ loc.key }}.{{network_domain}}.          IN SRV 0 10 {{ service.port }} {{ host.host }}.{{ loc.key }}.{{network_domain }}"
{% endfor %}
{% for record in host.ha_srv_records | default([]) %}
    local-data: "{{ record.name }}.{{network_domain}}.          IN SRV 0 10 {{ record.port }} {{ host.host }}.{{ loc.key }}.{{ network_domain }}"
{% endfor %}
{% for record in host.ha_records | default([]) %}
    local-data: "{{ record }}.{{network_domain}}.          IN A {{ host.logical }}"
{% endfor %}
{% for alias in host.aliases | default([]) %}
    # alias {{ alias }} for {{ host.host }}
    local-data: "{{ alias }}.{{ loc.key }}.{{ network_domain }}. IN A {{ host.logical }}"
{% endfor %}
{% for alias in host.global_aliases | default([]) %}
    # alias {{ alias }} for {{ host.host }}
    local-data: "{{ alias }}.{{ network_domain }}. IN A {{ host.logical }}"
{% endfor %}

{% endfor %}
{% endfor %}

{% endfor %}
    # end local hosts

    # start additional hosts
{% for host in additional_hosts | default([]) -%}
{% if host.ip is defined %}
    local-data: "{{ host.dns }}. IN A {{ host.ip }}"
{% endif %}
{% for service in host.services | default([]) %}
    local-data: "{{ service.name }}.{{network_domain}}.          IN SRV 0 10 {{ service.port }} {{ host.dns }}"
{% endfor %}
{% endfor %}
    # end additional hosts

{% if unbound_adblocker_enabled is defined and unbound_adblocker_enabled %}
    include: {{ unbound_adblocker_adblocker_file }}
{% endif %}

{% if unbound_blackhole_domains | length > 0 %}
    include: {{ unbound_blackhole_file }}
{% endif %}

# forward requests
{% if unbound_nameservers is defined and unbound_nameservers | length > 0 %}
forward-zone:
    name: "."
    {% for nameserver in unbound_nameservers %}
    forward-addr: {{ nameserver }}
    {% endfor %}
{% endif %}

{% if ansible_system == 'OpenBSD' %}
remote-control:
    control-enable: yes
    control-use-cert: no
    control-interface: /var/run/unbound.sock
{% elif ansible_system == 'Linux' %}
remote-control:
    control-enable: yes
    control-interface: 127.0.0.1
    control-port: 8953
    server-key-file: "/etc/unbound/unbound_server.key"
    server-cert-file: "/etc/unbound/unbound_server.pem"
    control-key-file: "/etc/unbound/unbound_control.key"
    control-cert-file: "/etc/unbound/unbound_control.pem"
{% endif %}
