#!/bin/ksh

daemon="/usr/local/bin/mtail"
daemon_flags="-progs {{ mtail_progs_dir }} -logs {{ mtail_logfiles | join(',') }}{% if mtail_port is defined and mtail_port %} -port {{ mtail_port }}{% endif %}{% if mtail_address is defined and mtail_address %} -address {{ mtail_address }}{% endif %}"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_bg=YES
rc_cmd $1
