[Unit]
Description=mtail
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Group=root
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/mtail \
  -progs {{ mtail_progs_dir }} \
  -logs {{ mtail_logfiles | join(',') }}{% if mtail_port is defined and mtail_port %} -port {{ mtail_port }}{% endif %}{% if mtail_address is defined and mtail_address %} -address {{ mtail_address }}{% endif %}

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
ReadWritePaths=
ReadWriteDirectories=
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

SyslogIdentifier=mtail

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

