# {{ ansible_managed }}
[Unit]
Description=nedire
Before=network-pre.target
Wants=network-pre.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ nedire_user }}
Group={{ nedire_group }}
ExecStart=/usr/local/bin/nedire{% if nedire_checkers | length > 0 %} -checkers {{ nedire_checkers | join(",") }}{% endif %}

PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

SyslogIdentifier=nedire

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
