# Volume to be used for MinIO server.
MINIO_VOLUMES="{{ minio_volumes }}"

# Use if you want to run MinIO on a custom port.
MINIO_OPTS="--address {{ minio_address }} --console-address {{ minio_console_address }}"

# Root user for the server.
MINIO_ROOT_USER={{ minio_root_user }}

#MINIO_BROWSER_REDIRECT_URL=https://{{ inventory_hostname }}

# Root secret for the server.
MINIO_ROOT_PASSWORD={{ minio_root_password }}
