[Unit]
Description=Blackbox Exporter
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
PIDFile=/var/run/blackbox_exporter.pid
User=blackbox_exporter
Group=blackbox_exporter
PermissionsStartOnly=true
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/blackbox_exporter \
  --config.file=/etc/blackbox_exporter/blackbox_exporter.yml \
{% if blackbox_exporter_web_external_url | length > 0 %}
  --web.external-url={{ blackbox_exporter_web_external_url }} \
{% endif %}
{% if blackbox_exporter_web_route_prefix | length > 0 %}
  --web.route-prefix={{ blackbox_exporter_web_route_prefix }} \
{% endif %}
  --web.listen-address={{ blackbox_exporter_web_listen_address }}{% for flag, flag_value in blackbox_exporter_cli_flags.items() %} \
  --{{ flag }}={{ flag_value }}{% endfor %}

{% if blackbox_exporter_allow_ping %}
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW
{% endif %}
SyslogIdentifier=blackbox_exporter
KillMode=process

# restart forerver
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
