# {{ ansible_managed }}
[Unit]
Description=shutdown-listener
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ shutdown_listener_user }}
Group={{ shutdown_listener_group | default(shutdown_listener_user) }}
ExecStart=/usr/local/bin/shutdown-listener -conf "{{ shutdown_listener_config_file }}"

PrivateTmp=true
ProtectHome=true
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectSystem=full

SyslogIdentifier=shutdown-listener

# restart forever
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target
