#!/bin/sh

SOURCE="{{ music_flacs_dir }}"

VORBIS="{{ music_vorbis_dir }}"
OPUS="{{ music_opus_dir }}"

if [ -n $VORBIS ]; then
    /usr/local/bin/flac2all.py vorbis "$SOURCE" -v 'quality=5' -o "$VORBIS" 
fi

if [ -n $OPUS ]; then
    /usr/local/bin/flac2all.py opus "$SOURCE" -v 'bitrate=128' -o "$OPUS"
fi
