[Unit]
Description=alertmanagerbot
After=network.target
StartLimitIntervalSec=3600
StartLimitBurst=720

[Service]
Type=simple
User={{ alertmanagerbot_user }}
Group={{ alertmanagerbot_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/alertmanagerbot
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
#ReadWritePaths=
#ReadWriteDirectories=
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
ProtectSystem=full

SyslogIdentifier=alertmanagerbot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

