[Service]
Environment=TELEGRAM_TOKEN={{ alertmanagerbot_token }}
Environment=TEMPLATE_PATHS={{ alertmanagerbot_dir }}/default.tmpl
Environment=TELEGRAM_ADMIN={{ alertmanagerbot_admin }}
Environment=LISTEN_ADDR={{ alertmanagerbot_listen }}
Environment=STORE=bolt
Environment=BOLT_PATH={{ alertmanagerbot_dir }}/bolt.db
Environment=ALERTMANAGER_URL={{ alertmanagerbot_alertmanager_url }}
